ion-content {
	--background: transparent;
	.mainContent {
		padding: 8px 24px 0px;
		ion-grid {
			&.cntctInfoBox {
				margin: 0 0 20px;
				padding: 14px 0px;
			    background: transparent;
			    border: 0px solid var(--borderClr1);
			    border-radius: 0;
				ion-row {
					margin: 0 0 20px;
					ion-col {
						ion-label {
							display: block;
							font-size: 16px;
							// line-height: 18px;
							line-height: 1.5;
							text-transform: capitalize;
							color: var(--black);
							font-weight: 600;
							font-family: var(--font-RobotoSerif);
							margin: 0 0 5px;
							// &:last-child {
							// 	margin: 0;
							// }
						}
						h6 {
							font-size: 16px;
							// line-height: 18px;
							line-height: 1.5;
							text-transform: unset;
							color: var(--black);
							font-weight: 400;
							font-family: var(--font-RobotoSerif);
							margin: 0;
						}
						img {
							width: auto;
							height: auto;
							object-fit: contain;
							filter: brightness(0) invert(0);
						}
					}
				}
			}
		}
	}
}