<ion-header no-border class="ion-no-border most-use-header">
  <ion-toolbar>
    <ion-chip slot="start"></ion-chip>
    <ion-chip class="logo">
      <img src="../../assets/images/Karoo-Kaarte-LOGO-BLACK-04.png">
    </ion-chip>
    <ion-buttons slot="end">
      <ion-menu-button>
        <!-- <img src="../../assets/images/menu-icon.png"> -->
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mainContent">
    <div class="titleMain">
      <h2>Contact Us</h2>
      <p>For more information about Karoo Kaarte or to make an appointment to add your stories to the Karoo Kaarte archive please contact us.</p>
    </div>
    <ion-grid class="cntctInfoBox">
      <ion-row>
        <ion-col size="12">
          <ion-label>Email</ion-label>
        </ion-col>      
        <ion-col size="12">
          <h6>{{ContactInformation.email}}</h6>
        </ion-col>      
      </ion-row>
      <!--<ion-row>
        <ion-col size="12">
          <ion-label>Phone</ion-label>
        </ion-col>      
        <ion-col size="12">
          <h6>{{ContactInformation.phone}}</h6>
        </ion-col>      
      </ion-row>-->
      <ion-row>
        <ion-col size="12">
          <ion-label>app version</ion-label>
        </ion-col>      
        <ion-col size="12">
          <ion-label>{{AppVersion}}({{AppVersionCode}})</ion-label>
        </ion-col>      
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label>rate our app</ion-label>
        </ion-col>      
        <ion-col size="12" (click)="RateUs()">
          <img src="../../assets/images/rating.png">
        </ion-col>      
      </ion-row>
    </ion-grid>
  </div>
</ion-content>