ion-content {
	--background: transparent;
	.mainContent {
		padding: 8px 24px 0;	
		.titleMain {
			justify-content: center;
			h2 {
				display: inline-block;
				padding: 0px;
				margin: 0 0 8px;
				text-transform: capitalize;
				color: var(--black);
				&:after {
					width: 0;
					height: 0;
				}
			}
		}	
		ion-card {
			&.detailBox {
				margin: 0 0 27px;
				// padding: 14px 10px;
				padding: 0px;
			    --background: transparent;
			    box-shadow: none;
			    border: 0px solid var(--borderClr1);
			    border-radius: 0;
				ion-card-header {
					padding: 0;
					ion-card-title {
						display: flex;
					    justify-content: center;
					    align-items: center;
					    gap: 5px;
						font-size: 14px;
					    line-height: 16px;
					    text-transform: capitalize;
					    // color: var(--theme-gray);
					    color: var(--black);
					    font-family: var(--font-SoraSB);
					    margin: 0 0 12px;
					    &:last-child {
					    	margin: 0;
					    }
					}
					ion-card-subtitle {
						margin: 0;
						font-size: 14px;
					    line-height: 16px;
					    text-transform: capitalize;
					    color: var(--black);
					    font-family: var(--font-RobotoSerif);
					}
				}
				ion-card-content {
					padding: 5px 0 22px;
					font-size: 12px;
				    // line-height: 16px;
				    line-height: 1.5;
				    color: var(--black);
				    font-weight: 400;
				    font-family: var(--font-RobotoSerif);
				    p {
				    	img {
				    		width: 100% !important;
				    		height: auto !important;
				    	}
				    }
				}
				ion-button {
					margin: 0 0 0 auto;
					--padding-top: 0;
					--padding-bottom: 0;
					--padding-start: 0;
					--padding-end: 0;
					height: 16px;
					font-size: 12px;
					line-height: 16px;
					color: var(--black);
					font-family: var(--font-SoraSB);
					text-transform: uppercase;
				}
			}
		}		
	}
}