<ion-header no-border class="ion-no-border most-use-header">
  <ion-toolbar>
    <ion-chip slot="start"></ion-chip>
    <ion-chip class="logo">
      <img src="../../assets/images/Karoo-Kaarte-LOGO-BLACK-04.png">
    </ion-chip>
    <ion-buttons slot="end">
      <ion-menu-button>
        <!-- <img src="../../assets/images/menu-icon.png"> -->
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mainContent">
    <div class="titleMain">
      <h2>Programme 2023</h2>
    </div>
    <ion-card class="detailBox">
      <!--<ion-card-header>
        <ion-card-title>Translation</ion-card-title>
        <ion-card-subtitle>Sub Title</ion-card-subtitle>
      </ion-card-header>-->
      <ion-card-content [innerHTML]="ResultData.programme"></ion-card-content>
    </ion-card>
  </div>
</ion-content>