ion-header {
	&.most-use-header {
		ion-toolbar {
			ion-buttons {
				ion-menu-button {
					img {}
				}
			}
			ion-button {
				&.dotBtn {
					--color: var(--black);
				}
			}
			ion-chip {
				&.logo {
					img {}
				}
			}
		}
	}
	&.white {
        ion-toolbar {
            ion-buttons {
                ion-menu-button {
                    img {
                        // filter: brightness(0) invert(0);
                    }
                }
            }
            ion-chip {
                &.logo {
                    img {
                        filter: unset;
                    }
                }
            }
        }
    }
}
ion-content {
	--background: transparent;
	.mainContent {
		padding: 8px 24px 0px;
		.titleMain {
			// justify-content: space-between;
			justify-content: center;
			h2 {
				display: inline-block;
				color: var(--black);
				padding: 0px;
				// text-transform: capitalize;
				&:after {
					width: 0;
					height: 0;
				}
			}
			ion-button {
				--padding-start: 0;
			    --padding-end: 0;
			    margin: 0px 0px 16px;
			    border-radius: 5px;
			    --border-radius: 5px;
			    // font-size: 25px;
			    font-size: 20px;
			    line-height: 22px;
			    height: 35px;
			    // font-family: var(--font-RobotoB);
			    font-family: var(--font-SoraSB);
			    letter-spacing: 1px;
			    &[fill="clear"] {
			    	background: transparent;
			    	border-color: transparent;
			    	border-width: 0;
			    }
			}
		}
		#MAP {
			width:100%;
			height: calc(100vh - 150px);
		}
		ion-grid {
			ion-row {
				ion-col {
					font-size: 20px;
			        line-height: 20px;
			        color: var(--black);
			        font-weight: 500;
			        font-family: var(--font-RobotoSerif);
				}
			}
		}
	}
}