ion-content {
	--background: transparent;
	.mainContent {
		padding: 8px 24px 0px;
		.titleMain {
			justify-content: space-between;
			h2 {
				display: inline-block;
			}
			ion-button {
				--padding-start: 0;
			    --padding-end: 0;
			    margin: 0;
			    border-radius: 5px;
			    --border-radius: 5px;
			    // font-size: 25px;
			    font-size: 20px;
			    line-height: 22px;
			    height: 35px;
			    // font-family: var(--font-RobotoB);
			    font-family: var(--font-SoraSB);
			    letter-spacing: 1px;
			}
		}
		#MAP {
			width:100%;
			height: calc(100vh - 150px);
		}
		ion-grid {
			ion-row {
				ion-col {
					font-size: 20px;
			        line-height: 20px;
			        color: var(--black);
			        // font-family: var(--font-RobotoR);
			        font-family: var(--font-RobotoL);
				}
			}
		}
	}
}