<ion-header no-border class="ion-no-border most-use-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/images/menu-icon.png">
      </ion-menu-button>      
    </ion-buttons>
    <ion-chip class="logo">
      <img src="../../assets/images/Karoo-Kaarte-LOGO-WHITE-04.png">
    </ion-chip>
    <ion-button slot="end" id="Trigger-All" fill="clear" class="dotBtn">      
      <ion-icon icon-only name="ellipsis-vertical"></ion-icon>
    </ion-button>
    <ion-popover trigger="Trigger-All" triggerAction="click" [dismissOnSelect]="true">
      <ng-template>
        <ion-content class="ion-padding">
          <ion-list no-padding>
            <ion-item lines="none" (click)="SelectedOption('all')">
              <ion-label>All</ion-label>
            </ion-item>
            <ion-item lines="none" (click)="SelectedOption('live')">
              <ion-label>Live</ion-label>
            </ion-item>            
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mainContent">
    <div class="titleMain">
      <h2>LOCATE POINTS OF INTEREST&nbsp;({{NumberOfLocations}})</h2>
    </div>
    <div #MAP id="MAP"></div>
  </div>
</ion-content>
