<ion-header no-border class="ion-no-border most-use-header white">
  <ion-toolbar>
    <ion-chip slot="start"></ion-chip>
    <ion-chip class="logo">
      <img src="../../assets/images/Karoo-Kaarte-LOGO-BLACK-04.png">
    </ion-chip>
    <ion-buttons slot="end">
      <ion-menu-button>
        <!-- <img src="../../assets/images/menu-icon.png"> -->
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="white">
  <div class="mainContent">
    <div class="titleMain">
      <h1>Welcome</h1>
    </div>
    <div class="cntImg">
      <img src="../../assets/images/jeanette__futuring__final.png">
    </div>
    <div class="contentBox" [innerHTML]="ResultData.content"></div>    
    <ion-slides #WelcomeSlider pager="false" [options]="WelcomeSliderOptions" *ngIf="ResultDataImages.length > 0">
      <ion-slide *ngFor="let Images of ResultDataImages; let i=index;"  (click)="EnlargePhoto(Images.image_name)">
        <img src="{{Images.image_name}}"/>
      </ion-slide>      
    </ion-slides>
    <div class="sponsors">
      <div class="titleMain">
        <h2>sponsors</h2>
      </div>
      <ion-grid class="sponsorsLogo">
        <ion-row>
          <ion-col size="6">
            <img src="../../assets/images/kknnk.png">
          </ion-col>
          <ion-col size="6">
            <img src="../../assets/images/JannieMoutonStigting-logo.png">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>