/*ion-header {
	&.most-use-header {
		ion-toolbar {
			ion-buttons {
				ion-menu-button {
					img {
						filter: brightness(0) invert(0);
					}
				}
			}
			ion-chip {
				&.logo {
					img {
						filter: brightness(0) invert(0);
					}
				}
			}
		}
	}
}*/
ion-content {
	--background: transparent;
	.mainContent {
		padding: 8px 24px 0px;
		/*.titleMain {
            h2 {
                color: var(--black);
            }
            p {
                color: var(--black);
            }
        }*/
		.contentBox {
			width: 100%;
			display: flex;
			flex-flow: column;
			gap: 10px;
			//background-color: rgba(255,255,255,0.7);
			background-color: var(--black);
			padding: 20px 16px;
			margin: 0 0 40px;
			p {
				width: 100%;
				text-align: center;
		        font-size: 16px;
				line-height: 20px;
		        font-family: var(--font-RobotoL);
		        //color: var(--black);
		        color: var(--white);
		        margin: 0;
			}
		}
		ion-slides {
			margin-right: -24px;
			ion-slide {
				padding: 0 4px 0 0;
				img {
					width: 100%;
					height: auto;
					aspect-ratio: 16 / 9;
					object-fit: cover;
				}
			}
		}
		.sponsors {
			padding: 35px 0;
			ion-grid {
				&.sponsorsLogo {
					ion-row {
						ion-col {
							padding: 0 15px 0 0;
							img {
								max-width: 100%;
								width: 100%;
							    height: auto;
							    aspect-ratio: 1/1;
								object-fit: contain;
								filter: brightness(0) invert(1);
							}
						}
					}
				}
			}
		}
	}
}