<ion-header no-border class="ion-no-border most-use-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/images/menu-icon.png">
      </ion-menu-button>      
    </ion-buttons>
    <ion-chip class="logo">
      <img src="../../assets/images/Karoo-Kaarte-LOGO-WHITE-04.png">
    </ion-chip>
    <ion-chip slot="end"></ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mainContent">
    <div class="titleMain">
      <h2>WELCOME</h2>
    </div>
    <div class="contentBox" [innerHTML]="ResultData.content"></div>    
    <ion-slides #WelcomeSlider pager="false" [options]="WelcomeSliderOptions" *ngIf="ResultDataImages.length > 0">
      <ion-slide *ngFor="let Images of ResultDataImages; let i=index;">
        <img src="{{Images.image_name}}"/>
      </ion-slide>      
    </ion-slides>
  </div>
</ion-content>