ion-header {
	&.most-use-header {
		ion-toolbar {
			ion-buttons {
				ion-menu-button {
					img {
						filter: unset;
					}
				}
			}
			ion-chip {
				&.logo {
					img {
						filter: unset;
					}
				}
			}
		}
	}
	&.white {
        ion-toolbar {
            ion-buttons {
                ion-menu-button {
                    img {
                        filter: brightness(0) invert(0);
                    }
                }
            }
            ion-chip {
                &.logo {
                    img {
                        filter: unset;
                    }
                }
            }
        }
    }
}
ion-content {
	--background: transparent;
	.mainContent {
		padding: 8px 24px 0px;
		.titleMain {
			justify-content: center;
			h2 {
				padding: 0px;
				text-transform: capitalize;
				&:after {
					width: 0;
					height: 0;
				}
			}
		}
		.cntImg {
		    margin-left: -24px;
		    margin-right: -24px;
		    img {
		    	width: 100%;
		    }
		}
		.contentBox {
			width: 100%;
			display: flex;
			flex-flow: column;
			gap: 18px;
			background-color: var(--black);
			// padding: 20px 16px;
			padding: 20px 0px;
			margin: 0 0 40px;
			h5 {
				width: 100%;
				text-align: center;
		        font-size: 20px;
				line-height: 24px;
		        font-family: var(--font-SoraSB);
		        color: var(--white);
		        margin: 0;
		    }
			p {
				width: 100%;
				text-align: center;
		        font-size: 15px;
				line-height: 25px;
				font-weight: 400;
		        font-family: var(--font-RobotoSerif);
		        color: var(--white);
		        margin: 0;
		        b, strong {
		        	// font-family: var(--font-OpenSansB);
		        }
			}
		}
		ion-slides {
			margin-right: -24px;
			ion-slide {
				padding: 0 4px 0 0;
				img {
					width: 100%;
					height: auto;
					aspect-ratio: 16 / 9;
					object-fit: cover;
				}
			}
		}
		.sponsors {
			padding: 0 0 35px 0;/*BEFORE::padding: 35px 0*/
			ion-grid {
				&.sponsorsLogo {
					ion-row {
						ion-col {
							&:nth-child(odd) {
								padding: 0 10px 0 0;
							}
							&:nth-child(even) {
								padding: 0 0 0 10px;
							}
							img {
								max-width: 100%;
								width: 100%;
							    height: auto;
							    max-height: 120px;
							    aspect-ratio: 1/1;
								object-fit: contain;
								filter: brightness(0) invert(1);
							}
						}
					}
				}
			}
		}
	}
	&.white {
		.mainContent {
			.titleMain {
				h2 {
	                color: var(--black);
	            }
	            p {
	                color: var(--black);
	            }
			}
			.contentBox {
				// background-color: rgba(255,255,255,0.7);
				background-color: transparent;
				p {
					color: var(--black);
				}
			}
			.sponsors {
				ion-grid {
					&.sponsorsLogo {
						ion-row {
							ion-col {
								img {
									filter: unset;
								}
							}
						}
					}
				}
			}
		}
	}
}
ion-content.white .mainContent .contentBox p:first-child {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    // font-family: var(--font-OpenSansB);
}