ion-content {
	--background: transparent;
	.mainContent {
		padding: 8px 24px 0;
		.titleMain {
			justify-content: space-between;
			h2 {
				display: inline-block;
			}
			ion-button {
				margin: 0;
			    border: 1px solid var(--white);
			    border-radius: 5px;
			    --border-radius: 5px;
			    font-size: 10px;
			    font-family: var(--font-RobotoB);
    			background: #7ca358;
    			letter-spacing: 1px;
			}
		}
		h5 {
			width: 100%;
			text-align: left;
			margin: 0 0 4px;
			font-size: 16px;
	        line-height: 18px;
	        color: var(--white);
	        font-family: var(--font-RobotoM);
	        text-transform: uppercase;
		}
		ion-card {
			&.detailBox {
				margin: 0 0 20px;
				padding: 14px 10px;
			    --background: var(--black);
			    border: 1px solid var(--borderClr1);
			    border-radius: 0;
				ion-card-header {
					padding: 0;
					ion-card-title {
						font-size: 14px;
					    line-height: 16px;
					    text-transform: uppercase;
					    color: var(--white);
					    font-family: var(--font-RobotoR);
					    margin: 0 0 12px;
					}
					ion-card-subtitle {
						margin: 0;
						font-size: 14px;
					    line-height: 16px;
					    text-transform: capitalize;
					    color: var(--white);
					    font-family: var(--font-RobotoM);
					}
				}
				ion-card-content {
					padding: 0;
					font-size: 12px;
				    line-height: 16px;
				    color: var(--white);
				    font-family: var(--font-RobotoL);
				}
				ion-button {
					margin: 0 0 0 auto;
					--padding-top: 0;
					--padding-bottom: 0;
					--padding-start: 0;
					--padding-end: 0;
					height: 16px;
					font-size: 12px;
					line-height: 16px;
					color: var(--white);
					font-family: var(--font-RobotoL);
					text-transform: uppercase;
				}
			}
		}
		ion-slides {
			margin-right: -24px;
			ion-slide {
				padding: 0 4px 0 0;
				img {
					width: 100%;
					height: auto;
					aspect-ratio: 16 / 9;
					object-fit: cover;
				}
			}
		}
		ion-list {
			padding: 0;
			ion-item {
				margin: 0 0 6px;
				&:last-child {
					margin: 0;
				}
				ion-label {
					font-size: 12px;
			        line-height: 14px;
			        color: var(--white);
			        font-family: var(--font-RobotoL);
			        text-transform: capitalize;
				}
				ion-button {
					aspect-ratio: 1/1;
					margin: 0 0 0 6px;
					border-radius: 100%;
					--border-radius: 100%;
					font-size: 11px;
				    --padding-end: 0;
				    --padding-start: 0;
				    --padding-bottom: 0;
				    --padding-top: 0;
				    width: 26px;
				    height: 26px;
				    line-height: 26px;
				}
			}
		}
		.gallery, .video, .audio {
			margin: 0 0 20px;
		}
		.video, .audio {
			ion-slides {
				margin-right: 0;
				iframe {
					width: 100%;
				    height: auto;
					min-height: 200px;
				    /*
					aspect-ratio: 16/9;
				    object-fit: cover;
				    border-radius: 15px;
				    overflow: hidden;
					*/
				}
			}
		}
	}
}