ion-content {
	--background: transparent;
	.mainContent {
		padding: 8px 24px 0;
		.titleMain {
			// justify-content: space-between;
			justify-content: center;
			h2 {
				display: inline-block;
				padding: 0px;
				margin: 0 0 8px;
				text-transform: capitalize;
				color: var(--black);
				&:after {
					width: 0;
					height: 0;
				}
			}
			ion-button {
				margin: 0;
			    border: 1px solid var(--white);
			    border-radius: 5px;
			    --border-radius: 5px;
			    font-size: 10px;
			    // font-family: var(--font-RobotoB);
			    font-family: var(--font-SoraSB);
    			background: #7ca358;
    			letter-spacing: 1px;
			}
		}
		h5 {
			width: 100%;
			text-align: left;
			margin: 0 0 4px;
			font-size: 18px;
		    line-height: 20px;
		    color: var(--black);
		    font-family: var(--font-SoraSB);
		    text-transform: capitalize;
		}
		ion-card {
			&.detailBox {
				margin: 0 0 27px;
				// padding: 14px 10px;
				padding: 0px;
			    --background: transparent;
			    box-shadow: none;
			    border: 0px solid var(--borderClr1);
			    border-radius: 0;
				ion-card-header {
					padding: 0 0 18px;
					margin: 0 0 14px;
					border-bottom: 1px solid var(--primary-border-clr);
					ion-card-title {
						display: flex;
					    justify-content: center;
					    align-items: center;
					    gap: 5px;
						font-size: 14px;
					    line-height: 16px;
					    text-transform: capitalize;
					    // color: var(--theme-gray);
					    color: var(--black);
					    font-family: var(--font-SoraSB);
					    margin: 0 0 12px;
					    &:last-child {
					    	margin: 0;
					    }
					}
					ion-card-subtitle {
						margin: 0;
						font-size: 14px;
					    line-height: 16px;
					    text-transform: capitalize;
					    color: var(--black);
					    font-family: var(--font-RobotoSerif);
					}
				}
				ion-card-content {
					padding: 5px 0 22px;
				    color: var(--black);
					// font-size: 12px;
				 //    line-height: 1.5;
				 //    font-family: var(--font-RobotoL);
				 	img {
				 		width: 100%;
				 		height: auto;
				 		display: inline-block;
				 		border-radius: 8px;
				 		overflow: hidden;
				 		margin: 0 0 22px;
				 	}
				    h6 {
				    	font-size: 20px;
				    	line-height: 26px;
					    color: var(--black);
					    font-weight: 600;
					    font-family: var(--font-RobotoSerif);
					    text-transform: capitalize;
					    margin: 0 0 17px;
				    }
				    p {
				    	font-size: 14px;
				    	line-height: 22px;
					    color: var(--black);
					    font-weight: 400;
					    font-family: var(--font-RobotoSerif);
					    margin: 0;
				    }
				}
				ion-button {
					margin: 0 0 0 auto;
					--padding-top: 0;
					--padding-bottom: 0;
					--padding-start: 0;
					--padding-end: 0;
					height: 16px;
					font-size: 14px;
					line-height: 16px;
					color: var(--black);
					font-family: var(--font-SoraSB);
					text-transform: capitalize;
					display: flex;
				    align-items: center;
				    width: fit-content;
				    width: -webkit-fit-content;
				    width: -moz-fit-content;
				    width: -ms-fit-content;
				    width: -o-fit-content;
				}
			}
		}
		ion-slides {
			margin-right: -24px;
			ion-slide {
				padding: 0 4px 0 0;
				img {
					width: 100%;
					height: auto;
					aspect-ratio: 16 / 9;
					object-fit: cover;
				}
			}
		}
		ion-list {
			padding: 0;
			ion-item {
				margin: 0 0 6px;
				&:last-child {
					margin: 0;
				}
				ion-label {
					font-size: 14px !important;
			        line-height: 20px !important;
			        color: var(--white) !important;
			        font-weight: 600;
			        font-family: var(--font-RobotoSerif) !important;
			        text-transform: capitalize !important;
				}
				ion-button {
					aspect-ratio: 1/1;
					margin: 0 0 0 6px;
					border-radius: 100%;
					--border-radius: 100%;
					font-size: 11px;
				    --padding-end: 0;
				    --padding-start: 0;
				    --padding-bottom: 0;
				    --padding-top: 0;
				    width: 26px;
				    height: 26px;
				    line-height: 26px;
				}
			}
		}
		.audio {
			background-color: var(--primary-border-clr);
		    border-radius: 16px;
		    padding: 20px 14px;
		}
		.gallery, .video, .audio {
			margin: 0 0 20px;
		}
		.video, .audio {
			ion-slides {
				margin-right: 0;
				iframe {
					width: 100%;
				    height: auto;
					min-height: 200px;
					border-radius: 16px;
					overflow: hidden;
				    /*
					aspect-ratio: 16/9;
				    object-fit: cover;
				    border-radius: 15px;
				    overflow: hidden;
					*/
				}
			}
		}
	}
}
ion-content .mainContent ion-card.detailBox .text-left ion-button {
	margin-right: auto;
    margin-left: 0;
}
ion-content .mainContent ion-card.detailBox .text-right ion-button {
	margin-right: 0;
    margin-left: auto;
}
ion-content .mainContent .audio h5 {
	color: var(--white);
}
ion-content .mainContent .audio .audio-item {
	width: 100%;
	position: relative;
}
ion-content .mainContent .audio .posBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    aspect-ratio: 1/1;
    width: 40px;
    height: 40px;
    ion-button {
    	width: 100%;
	    height: 100%;
	    font-size: 18px;
	    line-height: normal;
    	margin-inline: 0;
    	margin: 0;
    	--background: var(--white);
    	--color: var(--theme-primary);
    }
}