<ion-header no-border class="ion-no-border most-use-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/images/menu-icon.png">
      </ion-menu-button>      
    </ion-buttons>
    <ion-chip class="logo">
      <img src="../../assets/images/Karoo-Kaarte-LOGO-WHITE-04.png">
    </ion-chip>
    <ion-buttons slot="end">
			<ion-back-button text="Back" icon=""></ion-back-button>
		</ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mainContent">
    <div class="titleMain">
      <h2 *ngIf="Language == 'english'">{{ResultDataForEnglish.name}}</h2>
      <h2 *ngIf="Language == 'afrikaans'">{{ResultDataForAfrikaans.name}}</h2>
      <h2 *ngIf="Language == 'xhosa'">{{ResultDataForXhosa.name}}</h2>
      <ion-button color="primary" id="Trigger-Lang">CHOOSE LANGUAGE</ion-button>
      <ion-popover trigger="Trigger-Lang" triggerAction="click" [dismissOnSelect]="true">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-list no-padding>
              <ion-item lines="none" (click)="SelectedLanguage('english')">
                <ion-label>English</ion-label>
              </ion-item>
              <ion-item lines="none" (click)="SelectedLanguage('afrikaans')">
                <ion-label>Afrikaans</ion-label>
              </ion-item>
              <ion-item lines="none" (click)="SelectedLanguage('xhosa')">
                <ion-label>Xhosa</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </div>
    <ion-card class="detailBox">
      <ion-card-header>
        <ion-card-title>{{CategoryNM}} >> {{CategorySNM}}</ion-card-title>
        <ion-card-subtitle>Summary</ion-card-subtitle>
      </ion-card-header>  
      <ion-card-content *ngIf="Language == 'english'" [innerHTML]="ResultDataForEnglish.summary"></ion-card-content>
      <ion-card-content *ngIf="Language == 'afrikaans'" [innerHTML]="ResultDataForAfrikaans.summary"></ion-card-content>
      <ion-card-content *ngIf="Language == 'xhosa'" [innerHTML]="ResultDataForXhosa.summary"></ion-card-content>
      <div class="text-right">
        <ion-button fill="clear">READ MORE >></ion-button>
      </div>
    </ion-card>
    <div class="gallery">
      <h5>GALLERY</h5>
      <ion-slides #PhotoSlider pager="false" [options]="PhotoSliderOptions" *ngIf="ResultDataImages.length > 0">
        <ion-slide *ngFor="let Images of ResultDataImages; let i = index;">
          <img src="{{Images.image_name}}"/>
        </ion-slide>        
      </ion-slides>
    </div>
    <div class="video">
      <h5>VIDEO</h5>
      <ion-slides #VideoSlider pager="false" [options]="VideoSliderOptions" *ngIf="ResultDataVideos.length > 0">
        <ion-slide *ngFor="let Videos of ResultDataVideos; let i = index;">
          <!--<img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="" (click)="PlayVideo(Videos)"/>-->
          <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(Videos)" frameborder="0" allow="encrypted-media; gyroscope; picture-in-picture;"></iframe>
        </ion-slide>        
      </ion-slides>
    </div>
    <div class="audio">
      <h5>AUDIO</h5>
      <ion-list lines="none" *ngIf="ResultDataAudios.length > 0">
        <ion-item *ngFor="let Audios of ResultDataAudios; let i = index;">
          <ion-button class="play-btn" *ngIf="IsAudioPlayed == true" (click)="StopAudio()">
            <ion-icon name="pause-outline"></ion-icon>
          </ion-button>
          <ion-button class="play-btn" *ngIf="IsAudioPlayed == false" (click)="PlayAudio(Audios.id,Audios.mp3_name)">
            <ion-icon name="play-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      <!--<ion-slides #AudioSlider pager="false" [options]="AudioSliderOptions" *ngIf="ResultDataAudios.length > 0">
        <ion-slide *ngFor="let Audios of ResultDataAudios; let i = index;" (click)="PlayAudio(Audios.mp3_name)">
          <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="" />
        </ion-slide>        
      </ion-slides>-->
    </div>
  </div>
</ion-content>